/* ############ */
/*      BODY    */
/* ############ */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../images/bg-pattern.svg");
  background-repeat: no-repeat;
}

@media screen and (min-width: 1440px) {
  .container {
    background-size: contain;
  }
}

/* ############ */
/*      MAIN    */
/* ############ */

.card {
  background-color: $clr-price-comp-bg;
  width: 90%;
  border-radius: $border-rad;
  text-align: center;
  min-width: 330px;
}

hr {
  opacity: 0.1;
}

@media screen and (min-width: 48rem) {
  .card {
    text-align: left;
    max-width: 80%;
  }
}

/* ############ */
/*    FOOTER    */
/* ############ */

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
