/* ***** */
/* VARS */
/* ***** */

:root {
  /* #### COLORS #### */
  /* General */
  --clr-body-color: hsl(225, 20%, 60%); /* Main text color */
  --clr-body-bg: hsl(230, 100%, 99%); /* Main background */
  /* Primary */
  --clr-slider-bar: hsl(174, 77%, 80%);
  --clr-slider-bg: hsl(174, 86%, 45%);
  --clr-discount-bg: hsl(14, 92%, 95%);
  --clr-discount-text: hsl(15, 100%, 70%);
  --clr-cta-text: hsl(226, 100%, 87%);
  /* Neutral */
  --clr-price-comp-bg: hsl(0, 0%, 100%);
  --clr-empty-slider-bar: hsl(224, 65%, 95%);
  --clr-toggle-bg: hsl(223, 50%, 87%);
  --clr-text-cta-bg: hsl(227, 35%, 25%);

  /* Typography */
  --ff-sans-normal: "Manrope";
  --fs-900: 3rem;
  --fs-800: 2.25rem;
  --fs-700: 1.75rem;
  --fs-600: 1.5rem;
  --fs-500: 1.25rem;
  --fs-400: 1.125rem;
  --fs-300: 1rem;
  --fs-200: 0.938rem;
  /* utilities */
  --border-rad: 0.5rem;
  --line-height: 1.5;
}

/* ***** */
/* Reset */
/* ***** */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
  font-size: var(--fs-200, 1.125rem);
}

ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--clr-white, black);
}

body {
  font-family: var(--ff-sans-normal, sans-serif);
  font-size: var(--fs-200, 1.125rem);
  color: var(--clr-body-color, black);
  background-color: var(--clr-body-bg, white);
  line-height: var(--line-height, 1.5);
  min-height: 100vh;
}

img,
picture,
video,
canvas,
svg {
  max-width: 100%;
  display: block;
}

input,
button {
  border: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ********* */
/* UTILITIES */
/* ********* */

/* General utils */

.container {
  padding-inline: 1.5em;
  margin-inline: auto;
  max-width: 80rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
