/* ################ */
/* Table of Content */
/* ################ */

/*
I   - GENERAL
II  - HEADER
III - MAIN
IV  - FOOTER
V   - MEDIA QUERIES
*/

/* ############ */
/*    GENERAL   */
/* ############ */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("./images/bg-pattern.svg");
  background-repeat: no-repeat;
}

/* ############ */
/*    HEADER    */
/* ############ */

#header {
  text-align: center;
  padding-inline: 1em;
  background-image: url("./images/pattern-circles.svg");
  background-repeat: no-repeat;
  background-position: center;
  padding: 5em 0;
}

#header h1 {
  color: var(--clr-text-cta-bg);
  font-size: clamp(var(--fs-500), 3vw, var(--fs-700));
  font-weight: 800;
  padding: 0.5em;
}

#header p {
  max-width: 13rem;
  margin: auto;
}

/* ############ */
/*     MAIN     */
/* ############ */

.card {
  background-color: var(--clr-price-comp-bg);
  width: 100%;
  border-radius: var(--border-rad);
  text-align: center;
}

.div-slider,
.div-slider > * {
  padding: 1em;
}

.div-discount {
  display: flex;
  justify-content: end;
  gap: 0.5em;
  align-items: center;
  padding: 2em 0.8em;
}

.div-discount p {
  font-size: 0.875rem;
}

.card .p-discount {
  background-color: var(--clr-discount-bg);
  color: var(--clr-discount-text);
  font-size: 0.625rem;
  padding: 0.125rem 0.8em;
  border-radius: 0.5rem;
}

.p-discount span {
  display: none;
}

.discount {
  --circle-pos: 5px;
}
.btn-toggle {
  background: var(--clr-toggle-bg);
  width: 2.8rem;
  height: 1.4rem;
  border-radius: 3rem;
  position: relative;
}

.circle {
  position: absolute;
  top: 0.2rem;
  right: var(--circle-pos, 25px);
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: white;
}

hr {
  opacity: 0.1;
}

.card ul {
  padding: 1em 0;
}

.card li {
  list-style: url("./images/icon-check.svg");
}

.cta {
  background-color: var(--clr-text-cta-bg);
  color: var(--clr-cta-text);
  font-weight: 800;
  border-radius: 1.5rem;
  padding: 0.5em 3em;
  margin: 1em;
}

/* ############ */
/*    FOOTER    */
/* ############ */

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* ############# */
/* MEDIA QUERIES */
/* ############# */
